# This is /etc/systemd/system/graphite-api.service
[Unit]
Description=Graphite-API service
After=graphite-api.socket
Requires=graphite-api.socket
StartLimitIntervalSec=20s

[Service]
ExecStart=/usr/bin/gunicorn -w2 graphite_api.app:app 
TimeoutStopSec=5
Restart=on-failure
User=_graphite
Group=_graphite
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
